img {
  max-width: 100%;
  height: auto;
}

.title-description {
  font-size: 13px;
}

ul {
  font-size: 13px;
  list-style-position: outside;

  li {
    margin-left: -24px !important;
  }
}

.gold {
  background-color: palegoldenrod;
}

.darkslategrey {
  background-color: darkslategrey;
}

.grey {
  background-color: grey;
}

.silver {
  background-color: silver;
}
