<div class="container">
  <div class="search">
    <input class="form-control" type="text" [(ngModel)]="searchField" autocomplete="on" placeholder="&#xF002; Search">
  </div>
  <div class="row">
    <div class="col-md-4 mt-5 text-center" [appHighlight]
         *ngFor="let product of products | paginate: config | filter: searchField,  index as productId">
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        <h5 style="color: black">
          {{ product.name }}
        </h5>
      </a>

      <p *ngIf="product.description">
        <span style="font-size: 13px;"> {{ product.description }}</span>
      </p>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        <img [src]="product.image" alt="image can't display" height="250px">
      </a>
    </div>
  </div>
  <pagination-controls class="pagination" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
