<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5 text-center" *ngFor="let product of products, index as productId">
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        <h5 style="color: black">
          {{ product.name }}
        </h5>
      </a>

      <p *ngIf="product.description">
        <span style="font-size: 13px;"> {{ product.description }}</span>
      </p>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        <img [src]="[product.image]" height="250px">
      </a>
    </div>
  </div>
</div>
